/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-100 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(''),
       url('/fonts/roboto-slab-v24-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-slab-v24-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''),
       url('/fonts/roboto-slab-v24-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-slab-v24-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('/fonts/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-slab-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('/fonts/roboto-slab-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-slab-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* droid-serif-400normal - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Droid Serif Regular '),
       local('Droid Serif-Regular'),
       url('/fonts/droid-serif-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/droid-serif-latin-400.woff') format('woff'); /* Modern Browsers */
}
/* droid-serif-400italic - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
       local('Droid Serif Regular italic'),
       local('Droid Serif-Regularitalic'),
       url('/fonts/droid-serif-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/droid-serif-latin-400italic.woff') format('woff'); /* Modern Browsers */
}
/* droid-serif-700normal - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Droid Serif Bold '),
       local('Droid Serif-Bold'),
       url('/fonts/droid-serif-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/droid-serif-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* droid-serif-700italic - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local('Droid Serif Bold italic'),
       local('Droid Serif-Bolditalic'),
       url('/fonts/droid-serif-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/droid-serif-latin-700italic.woff') format('woff'); /* Modern Browsers */
}
