<!-- Action Section -->
    <section id="action" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wie kann auch Dein Verbund Daten beitragen?</h2>
                    <h3 class="section-subheading text-muted">Wir brauchen den politischen Willen, offene Daten für die Mobilität von morgen anzubieten. Beteilige Dich an der Diskussion darüber!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-muted"><img src="https://raw.githubusercontent.com/highsource/verbundkarte/master/Bilder/Verf%C3%BCgbarkeit-der-Fahrpl%C3%A4ne.png" class="img-responsive"></p>
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Offene Daten statt teurer Projekte</h4>
                    <p class="text-muted">Bislang bieten nur ausgewählte Vorreiterverbünde und -unternehmen ihre Fahrpläne im GTFS-Format an. Viele Verbünde sind immer noch der Ansicht, den Routenplaner für die Zukunft ganz alleine stemmen zu können, und <a href="https://fragdenstaat.de/anfrage/finanzielle-forderung-des-delfi-projekts/">investieren gemeinsam viele Millionen Euro aus Steuergeldern</a> für nicht sonderlich innovative Großprojekte. <strong>Du kannst mithelfen, diesen Kurs zu ändern!</strong></p>
                    <p class="text-muted">Schreibe den Verantwortlichen in den Gebietskörperschaften Deines Verkehrsverbundes – und zwar keine E-Mail, sondern einen ganz klassischen Brief! Wir haben Dir einen Vorschlag vorformuliert, du musst nur noch Unterschreiben und abdingsen. Wenn Du möchtest, kannst Du bei der aufgeführten Telefonnummer auch anrufen und die wichtigsten Punkte vorlesen. Für Rückfragen haben wir auch eine <a href="#faq">FAQ</a> vorbereitet!</p>

 
                    <!-- Fancy Formular startet HIER! -->
                    <form action="">
                        <div class="form-group">
                            <input value="" size="5" name="form[plz]" id="plz" type="text" placeholder="PLZ">
                            <input type="text" placeholder="Stadt" id="ort" readonly=""> 
                            <input type="text" placeholder="Landkreis" id="landkreis" readonly="">
                            <input type="text" placeholder="Landkreis-AGS" id="ags" readonly="">
                        </div>

                        <a href="javascript:renderPDF()" class="btn btn-primary"><span class="fa fa-download"></span> Brief herunterladen</a>
                    </form>
                </div>



            </div>

        </div>
    </section>
