<!-- faq Section -->
    <section id="faq">
          <div class="container">
               <div class="row">
                    <div class="col-lg-12 text-center">
                         <h2 class="section-heading">FAQ: Offene Fahrplandaten</h2>
                    </div>
               </div>
               <div class="row">
                    <div class="col-lg-12 text-left">
                         <dl>
                              <dt>Moderne Fahrplanauskunft</dt>
                              <dd>Eine Fahrplanauskunft gehört zu den Grundaufgaben eines Verkehrsverbundes. In Zeiten von Internet und Smartphones sind Papierfahrpläne oder PDFs nicht mehr zeitgemäß. Mit dem öffentlichen Bereitstellen von <em>maschinenlesbaren</em> Fahrplandaten können sich kleine Verkehrsverbünde die teure Entwicklung eigener Apps ersparen. Aber auch Verkehrsverbünde, welche bereits eigene Apps haben müssen so nicht selbst auf jede neue Technologie aufspringen (wie z.B. sprachgesteuerte Auskünfte auf dem Amazon Echo), weil sich durch die Bereitstellung der Daten private Software-Entwickler oder Firmen finden werden, die innovative Anwendungen entwickeln werden oder die Fahrpläne des Verkehrsverbundes in schon bestehende Anwendungen integrieren können.</dd>
                              <dd>Gerade für Fahrgäste, die in verschiedenen Regionen mit dem ÖPNV unterwegs sind oder Touristen, können offene Fahrplandaten eine große Hilfe sein, weil sie nicht für jede Region oder Stadt eine eigene App herunter laden müssen oder sich die Adressen der verschiednen Fahrplanauskunftsseiten merken müssen.
     Sind die Fahrplandaten offen, können Entwickler viele Verbünde in einer App vereinen. Beispiele für solche Anwendungen sind z.B. <a href="https://transitapp.com/">TransitApp</a> oder <a href="https://citymapper.com/">Citymapper</a>.</dd>

                              <dt class="show-if-gtfs">Der <span class="data-vbd"></span> gibt die Daten bereits an Google</dt>
                              <dd class="show-if-gtfs">Google erhält für Google Maps bereits die Fahrplandaten des <span class="data-vbd"></span>. Google zahlt dafür <em>kein</em> Geld. Außerdem liegen damit die Fahrplandaten schon im passendem Format beim Verkehrsverbund vor. Es entsteht also kein weiterer Aufwand und keine weiteren Kosten beim Verbund für den Export der Daten.</dd>

                              <dt>Barrierefreiheit</dt>
                              <dd>Mit freien Fahrplandaten ist es möglich Anwendungen zu entwickeln, die angepasste Fahrplanauskünfte für eine spezielle Zielgruppe geben können. So sind Anwendungen, speziell für Rollstuhlfahrer denkbar, die auch auf andere OpenData-Quellen zugreifen und so z.B. bei der Routenberrechnung beachten, dass ein Aufzug temporär nicht funktionsfähig ist.</dd>
                              <dd>Aber auch Anwendungen für blinde Menschen, mit denen die Auskunft per Sprachausgabe realisiet wird, sind mit offenen Fahrplandaten möglich.</dd>

                              <dt>Verkehrsplanung</dt>
                              <dd>Auch für die Verkehersplanung können die Daten interessant sein. Es gibt z.B. schon eine <a href="http://www.mapnificent.net/berlin/">fertige Anwendung</a>, welche aus GTFS-Daten eine ÖPNV-Erreichbarkeitsanalyse für jeden beliebigen Ort (im Fahrplanbereich) in Sekundenschnelle erzeugt.</dd>

                              <dt>Tourismus &amp; Verkehr</dt>
                              <dd>Mit offenen Fahrplandaten können Fahrplanauskünfte auch in Apps integriert werden, deren Hauptzweck nicht die Fahrplanauskunft ist. So können Auto-Navigationssysteme z.B. Park&amp;Ride Parkplätze besser in ihre Routenführung integrieren oder Stadtführerapps die Gäste der Stadt mit dem ÖPNV zu Sehenswürdigkeiten leiten.</dd>
                              <dd>Mit solch einer Verbreitung in Apps können neue Benutzergruppen für den ÖPNV gewonnen werden, welche sonst nur das Auto benutzt hätten.</dd>
                              <dd>Aber auch für innovative Verkehrsleitsysteme und bei Großveranstaltungen sind offene Fahrplandaten ein wichtiger Baustein und können so zur Entspannung der Park- und Verkehrssituation beitragen.</dd>
                              <dd>Offene Fahrplandaten sind somit auch ein Bestandteil der intelligenten Stadt der Zukunft.</dd>

                              <dt>Keine Verträge</dt>
                              <dd>Allein in Deutschland gibt es <a href="https://github.com/highsource/verbundkarte/blob/master/Bilder/Verbundkarte.png">über hundert Verkehrsverbünde</a>. Jeder Softwareentwickler, der mit Verkehrsdaten arbeiten will, muss momentan bei allen diesen Verbünden nachfragen und eigene Verträge aushandeln. Damit bleibt keine Zeit mehr für die Umsetzung der eigentlichen Idee. Diese Verhandlungen sind Arbeit, welche sich vielleicht riesige Firmen wie Google oder Apple leisten können, für ehrenamtliche Entwickler oder lokale Startups ist dieser Aufwand allerdings nicht zu stemmen. Dies hält momentan viele Entwickler mit innovativen Ideen davon ab, Anwendungen für den ÖPNV zu entwickeln. Deswegen ist es wichtig, dass die Fahrplandaten ohne Anträge, Verträge, NDAs oder anderen Zusatzbedingungen unter einer freien, <a href="http://opendefinition.org/licenses/">allgemein bekannten Lizenz</a> als OpenData bereit gestellt werden.</dd>

                              <dt>Keine Angst vor falschen Auskünften</dt>
                              <dd>Oft haben die Verbünde Angst, dass mit freien Fahrplandaten falsche Auskünfte gegeben werden. Allerdings ist dieses Problem ohne freie, offizielle Daten noch <a href="https://twitter.com/stephanjauch/status/826128397843697664">viel wahrscheinlicher</a>, weil aufgrund der fehlenden offiziellen Daten eigene Datensätze erzeugt und benutzt werden. Diese Daten sind dann oft unvollständig, veraltet oder fehlerhaft. Sobald es einen offiziellen Datensatz gibt, werden alle Anwendungen auf diesen umsteigen und können so verlässlichere Auskünfte geben.</dd>
                         </dl>
                    </div>
               </div>
          </div>
     </section>

     <section id="faq-rdn" class="bg-light-gray">
          <div class="container">
               <div class="row">
                    <div class="col-lg-12 text-center">
                         <h2 class="section-heading">FAQ: Rette deinen Nahverkehr</h2>
                    </div>
               </div>
               <div class="row">
                    <div class="col-lg-12 text-left">
                         <dl>
                              <dt>Warum schicken wir nicht einfach eine E-Mail?</dt>
                              <dd>E-Mails lassen sich einfach in den üblichen Mailprogrammen wegfiltern - Briefe und Anrufe erzeugen jedoch Aufmerksamkeit, da sich jemand damit zumindest kurz beschäftigen muss. Du kannst aber trotzdem deine E-Mail-Adresse auf dem Briefkopf eintragen, sodass du eine mögliche Antwort schneller erhältst.</dd>

                              <dt>Warum muss ich meine Postleitzahl eingeben?</dt>
                              <dd>Nahverkehr ist ein sehr lokales Thema. Obwohl sich die Verkehrsverbünde auch deutschlandweit zusammenschließen, müssen wir immernoch jeden Verbund einzeln überzeugen, Daten zu öffnen. Damit wir gleich deinen passenden Verbund und deine Ansprechpartner*in anzeigen und die Briefvorlage befüllen können, benötigen wir deine PLZ. Diese wird jedoch nicht an den Server übertragen - das heraussuchen des Verbundes und der passenden Person erfolgt komplett in deinem Browser.</dd>

                              <dt>Warum bekommt genau die angezeigte Person den Brief?</dt>
                              <dd>Recht einfach: Die meisten Landrät*innen und (Ober-)Bürgermeister*innen sitzen im (Aufsichts-)Rat/Mitgliederversammlungen/... ihrer jeweiligen Verkehrsverbünde. Da die Verbünde bislang "aus Gründen" eher ablehnend reagierten, passiert nun der direkte Kontakt zu jemanden, der/die dort politisch etwas bewegen kann.</dd>

                              <dt>Welche Briefmarke brauche ich?</dt>
                              <dd>Wenn du mit der Deutschen Post verschickst, brauchst du eine 70ct Briefmarke. Oft geht es am Briefmarkenautomaten am schnellsten.</dd>
                         </dl>
                    </div>
               </div>
          </div>
     </section>