  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="copyright">
                        Alle Inhalte unter CC-0-Lizenz, sofern nicht anders ausgewiesen.<br/>
                        Daten von <a href="https://www.openstreetmap.org/copyright">OpenStreetMap-Mitwirkende</a> (ODbL) &amp; GeoBasis-DE / <a href="https://www.bkg.bund.de">BKG</a> 2015 via <a href="http://opendata.blattspinat.com">Blattspinat Open Data</a> und aus <a href="https://www.wikidata.org">Wikidata</a>. Danke &lt;3
                    </span>
                </div>
                <div class="col-md-5">
                    Eine Aktion der <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>.<br/>
                    <a href="https://okfn.de/impressum/">Impressum</a><br/>
                    <a href="mailto:info@rettedeinennahverkehr.de">Kontakt</a>
                </div>
               <div class="col-md-2">
                    <img src="/img/okfn-logo.svg" alt="Open Knowledge Foundation Deutschland e.V." />
                </div>
            </div>
        </div>
    </footer>
