  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="copyright">
                        Alle Inhalte unter CC-0-Lizenz, sofern nicht anders ausgewiesen <br/>
                        Daten von <a href="http://www.geonames.org">GeoNames.org</a> (<a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>) und aus <a href="https://www.wikidata.org">Wikidata</a>. Danke &lt;3
                    </span>
                </div>
                <div class="col-md-5">
                    Eine Aktion der <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>.<br/>
                    <a href="https://okfn.de/impressum/">Impressum</a>
                </div>
               <div class="col-md-2">
                    <img src="img/okfn-logo.svg" alt="Open Knowledge Foundation Deutschland e.V." />
                </div>
            </div>
        </div>
    </footer>
