<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta property="og:image" content="ogimage.png" />
    <meta property="og:image" content="img/share/alexa.jpg" />
    <meta property="og:image" content="img/share/escalator.jpg" />
    <meta property="og:image" content="img/share/mainframe.jpg" />
    <meta property="og:image" content="img/share/netzplan.jpg" />
    <meta property="og:image" content="img/share/preisauskunft.jpg" />
    <meta property="og:image" content="img/share/startup.jpg" />
    <meta property="og:image" content="img/share/uber.jpg" />
    <meta property="og:image" content="img/share/underground.jpg" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{{ "/js/html5shiv.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->
</head>
