<!-- Services Section -->
    <section id="warum">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Warum sind Offene Fahrplandaten wichtig?</h2>
                    <h3 class="section-subheading text-muted">So könnte moderner, angenehmer Nahverkehr aussehen!</h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">
                    <p class="text-muted"><img src="https://unsplash.it/350/201/?image=478"></p>
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Deine ganz persönliche Fahrplanauskunft anstatt One-Size-Fits-All</h4>
                    <p class="text-muted">Du kannst auf deiner Pendelstrecke schneller umsteigen als alle anderen? Du fährst beim Stadturlaub lieber mit dem Bus die schöne Uferstrecke entlang, auch wenn das drei Minuten länger dauert? Oder benötigst Du einen Aufzug, um barrierefrei vom und zum Gleis zu kommen? Bisherige Auskunftapps meinen besser zu wissen als Du, was für Dich richtig ist. Dein Verkehrsverbund lässt Dich nur sehr eingeschränkt eigene Einstellungen vornehmen. Mit offenen Fahrplandaten findest Du eine App, die genau auf Deine Bedürfnisse zugeschnitten ist.</p>
                </div>
            </div>

            <div class="row text-left">
                <div class="col-md-4">
                    <p class="text-muted"><img src="img/preisauskunft.jpeg"></p>
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Fahrrad, Stadtbus, Carsharing – alles aus einer Hand!</h4>
                    <p class="text-muted">Einfach nur Bus fahren war gestern. In Zeiten von Bike- und Carsharing willst Du eine App, die Dich lückenlos von A nach B bringt – egal in welcher Stadt Du bist und egal, welche Verkehrsmittelkombination Du verwenden möchtest.
                    <br />Auch Verbundgrenzen sind kein Problem mehr. „Preisauskunft nicht möglich“? Vergangenheit! Egal von wo, egal wohin, egal womit du fährst. Einfach, schmerzfrei, auf Dich und Deine Bedürfnisse zugeschnitten.</p>
                </div>
            </div>

            <div class="row text-left">
                <div class="col-md-4">
                    <p class="text-muted"><img src="https://unsplash.it/350/201/"></p>
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Innovation für alle, anstatt Google das Feld überlassen</h4>
                    <p class="text-muted">Viele Verkehrsverbünde halten ihre Fahrpläne bereits im weltweiten Austauschformat <a href="https://de.wikipedia.org/wiki/General_Transit_Feed_Specification">GTFS</a> vor – stellen sie aber allein Google für den Routenplaner auf Google Maps zur Verfügung. Während Hacker*innen, Entwickler*innen oder Designer*innen keine Chance haben, an die Fahrplandaten zu kommen, wird Google zum Quasi-Monopolisten für deutschlandweite Fahrplanauskünfte. Offene Fahrplandaten <a href="http://opendefinition.org/licenses/">unter freier Lizenz</a> ebnen das Spielfeld ein und gewähren <em>allen</em> die Entwicklung spannender neuer Anwendungen.</p>
                </div>
            </div>

        </div>
    </section>
