<!-- About Section -->
    <section id="wie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wie geht das?</h2>
                    <h3 class="section-subheading text-muted">Mit offenen Daten und offenen Standards.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1990+</h4>
                                    <h4 class="subheading">Mainframes und Bildschirmrückseitenberatung</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Früher waren Fahrplanauskünfte etwas hochkompliziertes. Große Rechner, aufwändige Umsteigeberechnungen – das konnten nur wenige Experten. Manche glauben, das sei heute immer noch so – aber das stimmt nicht!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005</h4>
                                    <h4 class="subheading">Das erste offene Datenformat für Fahrpläne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mit dem Austauschformat <a href="https://de.wikipedia.org/wiki/General_Transit_Feed_Specification">GTFS</a> können erstmals auch Dritte Anwendungen mit Nahverkehrsdaten entwickeln. In den USA entstehen daraufhin viele neue Apps – auch für Verkehrsverbünde, die sich bislang keine eigene Fahrplanauskunft leisten konnten.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Erste inoffizielle Fahrpläne in Deutschland</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2011 gab es immer noch keine offiziellen GTFS-Fahrpläne deutscher Verbünde. Die Community ließ das aber nicht auf sich sitzen – und wandelte PDF-Fahrpläne kurzerhand selber in das GTFS-Format um. Erste Anwendungen entstanden.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ab 2012</h4>
                                    <h4 class="subheading">Erste Verkehrsverbünde öffnen ihre Daten</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Die Beispiele überzeugten – <a href="https://okfn.de/en/blog/2012/09/open-data-nahverkehr-berlin-brandenburg-update-zum-status-quo-und-den-entwicklungen/">2012 öffnete der Verkehrsverbund Berlin-Brandenburg seine Fahrpläne</a>, <a href="https://www.swu.de/privatkunden/swu-nahverkehr/gtfs-daten.html">2013 folgten die Stadtwerke Ulm</a>, <a href="https://opendata.rnv-online.de/datensaetze/gtfs-general-transit-feed-specification/resource/rnv-gtfs">2016 zog der rnv nach</a>. Der erste Aufschlag ist gemacht – welcher Verbund traut sich als nächstes?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Hilf mit
                                    <br>mehr Daten
                                    <br>zu befreien!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
